@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botoes {
        display: flex;
        flex-direction: column;
    }
    .botao1{
        width: 200px;
    }

    .botao2{
        margin-top: 5px;
        width: 200px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
      }

      .footer-container a {
        font-size: smaller;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}